<!DOCTYPE html>
<html lang="ko">
    @@include('../src/pages/includes/guide/head.html', {title: 'WSG - DK BMC'})
    <!-- <style>
        :root{
            --color-primary: 44,72,213;
        }
    </style> -->
<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="../../status/assets/logo.png" alt="DK BMC"></a>
            </h1>
            @@include('./pages/includes/guide/depth_one.html', {
                menu : 'wsg',
            })
        </header>

        <ul class="guideSubmenu">
            <li><a href="./slider.html">슬라이더</a></li>
            <li><a href="./button.html">버튼</a></li>
            <li><a href="./tab.html">탭</a></li>
            <li><a href="./form.html">폼</a></li>
            <li><a href="./list.html">리스트</a></li>
            <li><a href="./accordian.html">아코디언</a></li>
            <li><a href="./layerpopup.html">팝업</a></li>
            <li><a href="./unit.html">유닛</a></li>
        </ul>

        <div class="guideContainer">
            <section class="sample">
                <h2 class="sampleTitle">Typography</h2>
                <div class="sampleContent">
                    <p class="h1Typo">
                        h1 글자는 줄간격 이렇게 보여집니다.<br>
                        h1 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="h2Typo">
                        h2 글자는 줄간격 이렇게 보여집니다.<br>
                        h2 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="h3Typo">
                        h3 글자는 줄간격 이렇게 보여집니다.<br>
                        h3 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="h4Typo">
                        h4 글자는 줄간격 이렇게 보여집니다.<br>
                        h4 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="h5Typo">
                        h5 글자는 줄간격 이렇게 보여집니다.<br>
                        h5 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="p1Typo">
                        Paragraph1 글자는 줄간격 이렇게 보여집니다.<br>
                        Paragraph1 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="p2Typo">
                        Paragraph2 글자는 줄간격 이렇게 보여집니다.<br>
                        Paragraph2 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="small1Typo">
                        Small Text1 글자는 줄간격 이렇게 보여집니다.<br>
                        Small Text1 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="small2Typo">
                        Small Text2 글자는 줄간격 이렇게 보여집니다.<br>
                        Small Text2 글자는 줄간격 이렇게 보여집니다.
                    </p>
                    <p class="small3Typo">
                        Small Text3 글자는 줄간격 이렇게 보여집니다.<br>
                        Small Text3 글자는 줄간격 이렇게 보여집니다.
                    </p>


                    <br><br>
                </div>
                <div class="description">
                    <h3>SCSS GUIDE</h3>
                    <p>
                        @include h1Typo; 로 사용
                    </p>
                </div>
            </section>

            <!-- Color System  -->
            <section class="sample">
                <h2 class="sampleTitle">Color System</h2>
                <div class="sampleContent">
                    <div class="flexColumn">
                        <!-- color scale -->
                        <div class="colorSystem">
                            <h3><strong>Color Scale</strong></h3>
                            <div class="colorItem" style="margin-top: 1px;">
                                <div class="colorGuide primary">
                                    $primary;<br>
                                    <strong style="color: #fff;">rgba(44,143,155,0.8)</strong>
                                </div>
                                <ul class="colorList">
                                    <li class="primary100">$primary100</li>
                                    <li class="primary">$primary</li>
                                    <li class="primary60">$primary60</li>
                                    <li class="primary40">$primary40</li>
                                    <li class="primary20">$primary20</li>
                                </ul>
                            </div>
                            <div class="colorItem">
                                <div class="colorGuide secondary">
                                    $secondary;<br>
                                    <strong style="color: #fff;">rgba(35,58,171,0.8)</strong>
                                </div>
                                <ul class="colorList">
                                    <li class="secondary100">$secondary100</li>
                                    <li class="secondary">$secondary</li>
                                    <li class="secondary60">$secondary60</li>
                                    <li class="secondary40">$secondary40</li>
                                    <li class="secondary20">$secondary20</li>
                                </ul>                                
                            </div>
                            <div class="colorItem">
                                <div class="colorGuide accent">
                                    $accent;<br>
                                    <strong style="color: #fff;">rgba(185,58,138,0.8)</strong>
                                </div>
                                <ul class="colorList">
                                    <li class="accent100">$accent100</li>
                                    <li class="accent">$accent</li>
                                    <li class="accent60">$accent60</li>
                                    <li class="accent40">$accent40</li>
                                    <li class="accent20">$accent20</li>
                                </ul>
                            </div>
        
                            <div class="description">
                                <h3>SCSS GUIDE</h3>
        
                                <p>
                                    _variables.scss에 미리 정의해 둠. <br>
                                </p>
                                <h3>Example</h3>
                                <pre>
p {
    background-color: $primary;
}
                                </pre>
                            </div>                            
                        </div>
                        <!--// color scale -->
                        <!-- gray scale -->
                        <div class="grayScale">
                            <h3><strong>Gray Scale</strong></h3>
                            <div class="colorGuide" style="background-color:#FFFFFF;">
                                $white;<br>
                                <strong style="color: #333;">#FFFFFF</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#F9F9F9;">
                                $gray10;<br>
                                <strong style="color: #333;">#F9F9F9</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#F1F1F1;">
                                $gray20;<br>
                                <strong style="color: #333;">#F1F1F1</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#E8E8E8;">
                                $gray30;<br>
                                <strong style="color: #333;">#E8E8E8</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#D2D2D2;">
                                $gray40;<br>
                                <strong style="color: #333;">#D2D2D2</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#BBBBBB;">
                                $gray50;<br>
                                <strong style="color: #333;">#BBBBBB</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#999999; color:#fff;">
                                $gray60;<br>
                                <strong style="color: #fff;">#999999</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#666666; color:#fff;">
                                $gray70;<br>
                                <strong style="color: #fff;">#666666</strong>
                            </div>
                            <div class="colorGuide" style="background-color:#333333; color:#fff;">
                                $black;($gray80)<br>
                                <strong style="color: #fff;">#333333</strong>
                            </div>

        
        
                            <div class="description">
                                <h3>SCSS GUIDE</h3>
        
                                <p>
                                    _variables.scss에 미리 정의해 둠. <br>
                                </p>
                                <h3>Example</h3>
                                <pre>
p {
    color: $gray60;
}
                                </pre>
                            </div>                            
                        </div>
                        <!--// gray scale -->
                    </div>
                </div>
            </section>            
            <!--// Color System  -->
            <!-- Functional Color -->
            <section class="sample">
                <h2 class="sampleTitle">Functional, Primary Text, Functional Text</h2>
                <div class="sampleContent">
                    <h3><strong>Functional Color</strong></h3>
                    <div class="flexColumn colorSystem">
                        <div class="colorItem">
                            <h4><strong>Success</strong></h4>
                            <div class="colorGuide successLight" style="color: #333;">
                                $successLight
                                <strong style="color: #333;">#F0FFF3</strong>
                            </div>
                            <div class="colorGuide success" style="color: #333;">
                                $success
                                <strong style="color: #333;">#5FD473</strong>
                            </div>
                        </div>
                        <div class="colorItem" style="margin-top: 0;">
                            <h4><strong>Warning</strong></h4>
                            <div class="colorGuide warningLight" style="color: #333;">
                                $warningLight
                                <strong style="color: #333;">#F0FFF3</strong>
                            </div>
                            <div class="colorGuide warning" style="color: #333;">
                                $warning
                                <strong style="color: #333;">#5FD473</strong>
                            </div>
                        </div>
                        <div class="colorItem" style="margin-top: 0;">
                            <h4><strong>Error</strong></h4>
                            <div class="colorGuide errorLight" style="color: #333;">
                                $errorLight
                                <strong style="color: #333;">#F0FFF3</strong>
                            </div>
                            <div class="colorGuide error" style="color: #fff;">
                                $error
                                <strong style="color: #fff;">#5FD473</strong>
                            </div>
                        </div>
                    </div>
                    <h3 style="margin-top: 30px;"><strong>Primary Text Colors</strong></h3>
                    <div class="flexColumn colorSystem">
                        <div class="colorItem">
                            <div class="colorGuide primary" style="color: #fff; width: calc(34% - 30px);">
                                $primary
                                <strong style="color: #fff;">rgba(44,143,155,0.8)</strong>
                            </div>
                            <div class="colorGuide primary100" style="color: #fff; width: calc(34% - 30px);">
                                $primary100
                                <strong style="color: #fff;">rgba(44,143,155,1)</strong>
                            </div>
                        </div>
                    </div>
                    <h3 style="margin-top: 30px;"><strong>Functional Text Colors</strong></h3>
                    <div class="flexColumn colorSystem">
                        <div class="colorItem">
                            <div class="colorGuide blue10" style="color: #fff; width: calc(34% - 30px);">
                                $blue10
                                <strong style="color: #fff;">#406EFF</strong>
                            </div>
                            <div class="colorGuide red10" style="color: #fff; width: calc(34% - 30px);">
                                $red10
                                <strong style="color: #fff;">#E75050</strong>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <h3>SCSS GUIDE</h3>

                        <p>
                            _variables.scss에 미리 정의해 둠. <br>
                        </p>
                        <h3>Example</h3>
                        <pre>
p {
    color: $primary;
    background-color: $success;
}
                        </pre>
                    </div>
                </div>
            </section>
            <!--// Functional Color -->
        </div>

    </div>

    <!-- SCRIPT IMPORT -->
    @@include('../src/pages/includes/scriptImport.html')

</body>

</html>
